# C#/.NET
bin/
obj/
uploads/
publish/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Mac
.DS_Store

# NuGet
packages/
*.nupkg

# Logs
logs/
*.log

# Others
*.swp
*.mp3
*.mp4
