# C#/.NET
bin/
obj/
publish/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Rider
.idea/

# Mac
.DS_Store

# Linux
*~

# NuGet
packages/
*.nupkg

# Logs
logs/
*.log

# Uploads folder
uploads/

# Temporary files
*.tmp
*.temp
*.bak

# Audio and video files
*.mp3
*.mp4
*.wav
*.flv
*.mov
*.avi
*.mkv
*.m4a

# Others
*.swp

# macOS
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDouble
.LSOverride

# Thumbnails
._*
Thumbs.db

# Windows
ehthumbs.db
